{% extends "base.html" %}
{% block content %}
<link rel='stylesheet' type='text/css' href="/static/css/login.css">

<title>Авторизация</title>
<form action="" method="post" class="login">
    {{ form.hidden_tag() }}
    <h1>Войти</h1>
    <h3>Логин:</h3>
    {{ form.Login(class="form-control", type="email") }}<br>
    {% for error in form.Login.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <h3>Пароль:</h3>
    {{ form.Password(class="form-control", type="password") }}<br>
    {% for error in form.Password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <br>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{ message }}</div>
    <br>
    <a class="sign-up" href="register">Зарегистрироваться!</a>
    <br>
</form>
{% endblock %}