{% extends "base.html" %}
{% block content %}
<link href="/static/css/register.css" rel='stylesheet' type='text/css'>

<title>Регистрации</title>
<div class="login">
  <div class="login-header">
    <h1>Регистрация</h1>
  </div>
  <div class="login-form">
    <h3>Логин:</h3>
    <input type="text" placeholder="Электронная почта"/><br>
    <h3>Пароль:</h3>
    <input type="password" placeholder="Пароль"/>
    <br>
    <input type="button" value="Зарегистрироваться" class="login-button"/>
    <br>
    <a class="sign-up" href="login">Авторизироваться!</a>
    <br>
    <a class="sign-up">{{a}}</a>
    <br>
  </div>
</div>
{% endblock %}