{% extends "base.html" %}
{% block content %}
<link rel='stylesheet' type='text/css' href="/static/css/login.css">
<h1>Регистрация</h1>
<form action="" method="post" class="login">
    {{ form.hidden_tag() }}
    <h3>Логин:</h3>
    {{ form.Login(class="form-control", type="email") }}<br>
    {% for error in form.Login.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <br>
    <h3>Пароль:</h3>
    {{ form.Password(class="form-control", type="password") }}<br>
    {% for error in form.Password.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <br>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
    <br>
    <a class="sign-up" href="login">Авторизоваться!</a>
    <br>
</form>
{% endblock %}